/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: black;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	background: #ffffff;
	margin: 0px auto;
}
:root{
	--b: bold;
	--blue: #2285E0;
}
.bold{
	font-weight: var(--b);
}
.wrapper {
	max-width: 1950px;
	min-height: 100%;
	overflow: hidden;
}
.conteiner{
	max-width: 1103px;
	margin: 0px auto;
}
.haeder {
    background: linear-gradient(180deg, #FBFCFF 0%, #F0F2F5 100%);
	width: 100%;
	position: relative;
}
.header__conteiner{
	min-height: 667px;
}
.header-top {
	height: 96px;
    display: flex;
	align-items: center;
}
.header-bottom{
	height: 800px;
}
.header-nav {
    margin-left: 138px;
    margin-right: 348px;
}
.header-menu {
	display: flex;
	align-items: center;
}
.header-list{
    color: rgb(0, 0, 0);
	font-weight: var(--b);
	font-size: 16px;
	text-align: center;
	margin-left: 40px;
}
.and{
	min-width: 80px;
}
.haeder-question{
	padding-left: 5px;
}
.header-top-vintext {
	font-weight: var(--b);
	font-size: 14px;
	line-height: 19px;
	padding-bottom: 5px;
	min-width: 168px;
}
.header-top-vintext:hover {
	border-bottom:2px solid var(--blue);
}
.blue {
	color: var(--blue);
}


.header-bottom {
	margin-top: 40px;
}
.bottom-car {
	position: absolute;
	z-index: 4;
	left: 30%;
}
.bottom-car-search {
	position: relative;
	z-index: 10;
	top: -74px;
	left: 390px;
}
.header-bottom-title {
	position: relative;
	top: -444px;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 68px;
	left: 100px;
}
.header-bottom-subtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #9FB7D3;
	position: relative;
	top: -440px;
}
.header-bottom-searh-box {
	position: relative;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	top: -410px;
	width: 766px;
	height: 74px;
	left: 120px;
	display: flex;
	align-items: center;
	padding: 10px 10px 10px 20px;
	color: #A9A8AE;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	
}
.search-link {
	position: relative;
	z-index: 50;
	background-color: var(--blue);
	width: 150px;
	height: 55px;
	color: white;
	border-radius: 5px;
	left: 420px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-bottom-icon {
	display: flex;
	position: relative;
	top: -360px;
	left: 150px;
}
.icon-reports {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-social{
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-bottom-icon-social {
	display: flex;
	margin-left: 252px;
}
.header-social-vk{
	margin-right: 63px;
}
.header-social-icon-foto{
	margin-right: 7px;
}


.main-block1 {
	display: flex;
	justify-content: center;
	height: 394px;
	align-items: center;
}

.element {
	margin-right: 60px;
	text-align: center;
	margin-top: 50px;
}
.block1-text {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #3E3E3E;
	margin-top: 30px;
}

.main-block2 {
	display: flex;
	justify-content: center;
	height: 930px;
	align-items: center;
}
.block2-limit {
	max-width: 665px;
	margin-right: 100px;
}
.block2-title {
	font-weight: 600;
	font-size: 34px;
	line-height: 48px;
	margin-bottom: 24px;
}
.block2-subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #3E3E3E;
	margin-bottom: 24px;
}
.block2-packages {
	display: flex;
}
.block2-text {
	position: relative;
	left: 20px;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: white;
	background: #2285E0;
	border-radius: 5px;
	width: 326px;
	height: 56px;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block2-icon{
	margin-right: 10px;
}

.main-block3 {
	
}
.block3-title {
	display: flex;
	justify-content: center;
	font-weight: 600;
font-size: 34px;
line-height: 48px;
}
.block3-subtitle {
	display: flex;
	justify-content: center;
	font-weight: bold;
font-size: 16px;
line-height: 24px;

}
.block3-elements {
	display: flex;
	justify-content: center;
}

.block3-vector {
}