@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Russo+One&display=swap');
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: "Open Sans";
    font-family: "Russo One";
    font-size: 16px;
}
img{
    max-width: 100%;
}
.conteiner{
    padding: 0 10px;
    max-width: 1140px;
    margin: 0 auto;
}
.title {
    font-family: "Russo One";
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}
.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup {
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}
.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
    color: #000;
    text-decoration: none;
}
.popup-text{
    font-size: 16px;
    margin-bottom: 10px;
    font-family: "Open Sans";
}
.closes-button{
    border: 1px solid #08569e;
    padding: 5px 10px;
    color: #F1F1F1;
    background-color: #08569e;
    text-decoration: none;
    font-size: 16px;
    font-family: "Open Sans";
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
/* block1 */
.block1 {
    background: #222222;
    overflow: hidden;
}
.block1-conteiner{
    padding-top: 10px;
    min-height: 650px;
    position: relative;
}
.block1-top {
    display: flex;
    align-items: center;
}
/* block1-top */
.block1-top-logo {
    display: flex;
    align-items: center;
    margin-right: 449px;
}
.logo1 {
    padding-right: 24px;
}
.line1{
    position: relative;
    top: 10px;
}
.block1-top-logo-text {
    font-family: "Open Sans";
    font-style: italic;
    font-size: 16px;
    line-height: 18px;
    color: #2194FF;
    padding-left: 24px;
    position: relative;
    top: 10px;
    padding-right: 10px;
    
}
.block1-top-tell-number {
    font-family: "Russo One";
    font-size: 24px;
    line-height: 29px;
    color: white;
    margin-bottom: 5px;
    width: 214px;
    height: 29px;
}
.block1-top-tell-text {
    color: #2194FF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
}


/* block1-main */
.block1-main-text-icon {
    display: flex;
    margin-top: 66px;
    margin-bottom: 20px;
}
.block1-main-blockpogoda1 {
    margin-right: 24px;
}
.blockpogoda1-text {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #c2c2c2;
}
.block1-main-title {
    font-family: "Russo One";
    font-size: 64px;
    line-height: 53px;
    color: #2194FF;
    padding: 4px 20px 4px 0px;
    margin-bottom: 20px;
    position: relative;
}
.block1-main-subtitle {
    font-family: "Russo One";
    font-size: 24px;
    line-height: 29px;
    color: #F1F1F1;
    margin-bottom: 40px;
    padding: 4px 20px 4px 0px;
    position: relative;
}
.block-block1-main-longarrow{
    max-width: 0;
    max-height: 0;
}
.block1-main-longarrow {
    position: relative;
    left: 290px;
    top: -98px;
    margin: 0;
}
.block1link img{
    margin-bottom: 13px;
}
.block-main-text {
    width: 355px;
    height: 22px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #F1F1F1;
    left: 20px;
    position: relative;
}
/* block1-main-foto  */
.block1-main-foto {
    position: absolute;
    left: 543px;
    top: 150px;
    width: 1037px;
    height: 477px;
    margin: 4px 10px 4px 0;
}

/* block2 */
.block-2 {
    background: #0c2843;
    
}
.block2-conteiner{
    padding-top: 46px;
    padding-bottom: 20px;
    min-height: 500px;
    position: relative;
}
.block2-title {
    color: #2194FF;
}
.block2-main {
    display: flex;
    margin-top: 30px;
}
/* block2-gas */
.block2-gas{
    max-width: 265px;
}
.gas2{
    margin-left: 23px;
    max-height: 320px;
}
.block2-gas-title {
    font-family: "Russo One";
    font-size: 36px;
    line-height: 43px;
    color: #F1F1F1;
    margin-bottom: 5px;
}
.block2-gas-subtitle {
    font-family: "Russo One";
    font-size: 26px;
    line-height: 29px;
    color: #2194FF;
    margin-bottom: 12px;
}
.block2-gas-text {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #c2c2c2;
    max-width: 353px;
    min-height: 100px;
}
.block2-tabl-subtitle-text-big{
    font-size: 36px;
}
/* block2-list */

.btn {
    font-size: 20px;
    background: #08569e;;
    color: #fff;
    border: 1px solid #08569e;
    border-radius: 10px;
    padding: 10px 45px;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .btn:hover {
    color: #08569e;
  }
  .btn::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }
  .btn[class^="slides"]::after {
    transition: all 0.49s;
  }
  .btn[class^="slides"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.49s;
  }
  .btn.slides_from_left-btn::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }
/* block2-tabl */
.block2-tabl {
    text-align: center;
}
.block2-tabl-title {
    font-family: "Russo One";
    font-size: 26px;
    line-height: 24px;
    color: #c9c9c9;
}
.block2-tabl-subtitle {
    display: flex;
    justify-content: center;
}
.block2-tabl-subtitle-text {
    font-family: "Russo One";
    font-size: 28px;
    line-height: 22px;
    color: #c9c9c9;
    
}
.block2-tabl-subtitle-text-big{
    font-size: 28px;
    line-height: 43px;
}
.block2-tabl-subtitle-text1{
    padding: 0 25px;
    border-right: 3px solid #c9c9c9;
}
.block2-tabl-subtitle-text2{
    padding: 0 25px;
}


/* block3 */
.block-3 {
    background: #222222;
    height: 1302px;
}
.block3-conteiner{
    padding: 50px 0 0 0;
}
/*           block3-top */
.block3-top-title {
    color: #F1F1F1;
}
/*            block3-main */
.block3-main {
    padding: 40px 0 0 0;
   
}
.lins{
    display: flex;
    position: relative;
    margin-top: 10px;
    max-height: 400px;
    vertical-align: auto;
}
.lines-blocks{
    max-width: 380px;
    max-height: 250px;
    flex-basis: 380px;
}
    /* line1 */
.block3-line1 {
   margin-bottom: 10px;
   
}
.block3-line1-element1 {
    position: relative;
    top: -8px;
}
.block3-line-icon {
    display: flex;
    justify-content: center;
    position: relative;
    
}
.line-element-title {
    font-family: "Russo One";
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2194FF;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.line-element-text {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #F1F1F1;
    min-height: 150px;
}
.block3-line1-element2 {
    position: relative;
    top: 28px;
}
.block3-line1-element3 {
    position: relative;
    top: -13px;
}
    /* line2 */
.block3-line2-element1 {
    position: relative;
    top: -30px;
}
.block3-line2-element2 {
    position: relative;
    top: 28px;
}
.block3-line2-element3 {
    position: relative;
    top: 5px;
}
    /* line3 */
.block3-line3 {
    margin-bottom: 30px;
}
.block3-line3-element1 {
    position: relative;
    top: 28px;
}
.block3-line3-element2 {
    position: relative;
    top: 28px;
}
.block3-line3-element3 {
    position: relative;
    top: 28px;
}
/* block3-bottom */
.block3-bottom {
    display: flex;
    position: relative;
    overflow: hidden;
}
.block3-bottom-text {
    position: absolute;
    width: 533px;
    height: 168px;
    left: 600px;
    top: 10px;
}
.block3-bottom-text-avtparc {
    font-family: "Russo One";
    font-size: 35px;
    line-height: 42px;
    color: #F1F1F1;
}
.block1-bottom-text-blue {
    color: #2194FF;
}
.block3-bottom-preim {
    color: #c1c1c1;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: "Open Sans";
    font-size: 25px;
    position: relative;
    left: -3px;
    border-bottom: 1px solid #337AB7;
    padding-bottom: 5px;
}


/* block-4 */
.block-4 {
    background: #0c2843;
    overflow: hidden;
}
.block4-conteiner {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 700px;
}
.block4-title {
    color: #2194FF;
}
.block4-tabs-item {
    display: flex;
    margin-top: 10px;
}
.tabs-items{
    flex: 0 1 125px;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin: 0 20px 30px 20px;
    padding: 10px;
    

    font-family: "Russo One";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #F1F1F1;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    letter-spacing: 1.5px;
}
.tabs-items:hover {
   
    border-bottom: 1px solid rgb(255, 255, 255);
}
.tabs-items:nth-child(1){
    margin-left: 0;
}
.tabs-items:nth-child(4){
    margin-right: 0;
}
.tabs-block{
    padding: 20px;
    display: none;
}
.tabs-block:target{
    display: block;
}
.block4-button{
    display: flex;
    justify-content: center;
}
.block4-button:hover {
    transform: scale(1.1);
    transition: 1s;
}
.arrow-down {
    position: absolute;
    z-index: 100;
    margin: 10px 50%;
    
}
.arrow-down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #337AB7;
    border-right: 5px solid #337AB7;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
#toTop {
    position:fixed;
    z-index:9999;
    bottom:10px;
    right:10px;
    width: 64px;
    height: 64px;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: transparent;
}

/* block-5*/

.block-5 {
    background: #0c2843;
    
}
.block5-conteiner {
    height: 400px;
    width: 900px;
    margin: 0px auto;
}

.slider{
    position: relative;
    padding: 60px 90px;
    max-width: 1000px;
    width: 100%;
}
.slider__item{
    background-color: #fff;
    min-width: 100px;
    height: 260px;
    position: relative;
    display: flex;
    border-radius: 20px;
}
.slider-foto{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    height: 250px;
    border-radius: 20px;
}
.slide-name{
    margin-left: 29px;
    margin-top: 20px;
    color: #08569e;
    
}
.slide-text{
    margin-top: 12px;
    margin-left: 29px;

}
/* Слайдер */
.slick-slider{
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
    
}

/* Слайд */
.slick-slide{
   
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
    
}
.slider .slick-arrow{
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 10;
    font-size: 0px;
    top: 50%;
    background-color: transparent;
  
}


/* Стрелка влево */
.slider .slick-prev {
    left: 0px;
    background-image: url('../img/reviews/up-arrow-svgrepo-com (3).svg');
    transform: rotate(-90deg);
    cursor: pointer;
}
/* Стрелка вправо */
.slider .slick-next {
    right: 0;
    background-image: url('../img/reviews/up-arrow-svgrepo-com\ \(3\).svg');
    transform: rotate(90deg);
    cursor: pointer;
    
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки (булиты) */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 10px;
}
/* Активная точка */
.slick-dots li.slick-active button {
    background-color: #08569e;
    width: 35px;
    height: 1.5px;
}
/* Элемент точки */
.slick-dots li button{
    font-size: 0px;
    width: 35px;
    height: 1.5px;
    background-color: #fff;
}

/* block-6*/
.block-6 {
    background: #222222;
    overflow: hidden;
}
.block6-conteiner {
    height: 480px;
    max-height: 530px;
    margin-top: 50px;
}
.block6-title {
    color: #2194FF;
}
/* block-6-main*/
.block6-main-tabs {
    margin-top: 20px;
}
.tabs-menu{
    position: relative;
}

.menu-border{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-link {
    padding-bottom: 24px;
    padding-top: 14px;
    cursor: pointer;

    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #c1c1c1;
    position: relative;
}
.menu-list>li:hover {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
.menu-list>li:hover .menu-link{
    color: #337AB7;
}
.menu-list>li:hover .sub-menu-list{
    display: block;
}
.menu-list>li:hover .block6-link-icon{
    transform: rotate(-180deg);
}
.menu-list>.menu-link::after:hover{
    content: '';
    color: rgb(25, 29, 65);
}
.block6-link-icon{
    margin-right: 10px;
}
.menu-text {
    font-family:  "Open Sans";
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #c1c1c1;
}
.sub-menu-list{
    position: relative;
    left: 0;
    top: -5px;
    display: none;
    padding-left: 30px;
}

